@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    line-height: 1.5em;
    min-width: 320px;
    max-width: 980px;
    margin: auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

section {
    margin-top: 90px;
}

hr {
    border: none;
    background-color: #dcdcdc;
    height: 1px;
}

h1 {
    font-weight: 600;
}

h2 {
    margin: 40px 0 0 0;
    font-weight: 600;
}

h2 a:hover {
    text-decoration: none;
}

ul {
    display:inline-block;
    vertical-align: top;
    margin-right: 20px;
    padding-inline-start: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:#5c5cf1;
}

.gh-foto {
    display: block;
    margin: auto;
}

.screenshot {
    width: 100%;
}

.icone {
    float: right;
    margin: -30px 0 0 20px;
}